:root {
  font-family: "Manrope", sans-serif;
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: var(--Dark-Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  width: calc(100% - 2rem);
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 3rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.164);
  position: relative;
  gap: 1.5rem;
}

.advice-number {
  color: var(--Neon-Green);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.advice-text {
  color: var(--Light-Cyan);
  font-size: 1.3rem;
  text-align: center;
  word-spacing: 0.2rem;
}

.advice-text::before,
.advice-text::after {
  content: '"';
}

.btn {
  background-color: var(--Neon-Green);
  position: absolute;
  border: 0;
  padding: 1rem;
  bottom: 0px;
  border-radius: 50%;
  transform: translateY(50%);
}
